/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-icon-disabled {
  color: lightgray;
  cursor: not-allowed !important;
}

.mat-dialog-container {
  border-radius: 20px !important;
  background: linear-gradient(rgb(55, 146, 218) 0%, rgb(202, 210, 82) 100%);
}